[2015-11-19 09:51] OlivierBlanvillain opened #1 "Annotation fails to silent (deprecated) methods with implicit parameters"

[2015-11-19 09:59] OlivierBlanvillain commented on #1
My bad, it works fine. I messed up the build...

[2015-11-19 09:59] #1 closed

[2016-03-08 19:30] joprice opened #2 "Fails when used with scoverage"
Seems like the plugin doesn't preserve tree positions. I see this error when I use it with scoverage:

[code]

[2016-03-09 12:38] ghik commented on #2
The plugin doesn't modify the trees in any way, including their positions, so I can't see why it would cause the crash. Anyway, I'll try to reproduce the problem. If your project is available on github or you have some simple example project, please mention it.

[2016-03-09 21:23] joprice commented on #2
I'll try to reproduce it in a minimal project.

[2016-03-10 18:59] joprice commented on #2
https://github.com/joprice/silencer-scoverage-issue

[2016-03-11 12:33] ghik commented on #2
Thanks for the reproduction.

I disabled the `silencer-plugin` in your sample project and compilation still crashes. To me it looks like `scoverage` plugin can't properly handle "annotation ascriptions", i.e. annotations used on expressions (not sure how this syntax is called).

[2016-03-11 15:47] joprice commented on #2
I see. Thanks for looking into it. I'll take it up with scoverage.

[2016-03-11 16:20] #2 closed

[2017-07-06 12:26] kwisatzook opened #4 "cannot suppress scala 2.12.2 -Ywarn-unused:params for Scala.js js.native method"
See JsCryptoNative.getRandomValues at the bottom. @silent doesn't seem to work no matter where I put it.

[code]

Any idea as to why and any suggestions on a workaround?
Much thanks.

[2017-07-06 13:03] ghik commented on #4
Hello @kwisatzook

I can't reproduce your problem. For me putting `@silent` annotation on the parameter works just fine.

Here's a the project where I tried to reproduce it: [scalajs-silencer-bug.zip](https://github.com/ghik/silencer/files/1127899/scalajs-silencer-bug.zip)

[2017-07-06 13:28] kwisatzook commented on #4
Ah, thanks. It wasn't set up properly. Even though the plugin was downloaded and the library was available, the compiler plugin wasn't enabled because the setting didn't propagate to the cross project. I figured out how to make that happen.
Thanks.

[2017-07-06 13:28] #4 closed

[2017-11-28 10:24] ArturSoler opened #5 "Can't configure the plugin"
When I try to use this plugin, I get the following error on opening SBT:

[code]

I'm using SBT 1.0.4 and I'm adding the library dependency to all subprojects (of which I have a few).

[2017-11-28 11:27] ghik commented on #5
Hello Artur,

I'm using silencer with SBT 1.0.4 without any issues. The error message suggests that the compiler doesn't see the `silent` annotation on compilation classpath - please make sure you've added `silencer-lib` as a library dependency to all your projects. If it still doesn't work, please provide some simple reproduction project.

[2017-12-14 21:29] emilypi commented on #5
@ghik Hi ghik

I started a new, minimalist project with nothing but

[code]

and the compiler plugin enabled in `plugins.sbt`:

```addCompilerPlugin("com.github.ghik" %% "silencer-plugin" % "0.5")```

And received the same error:

[code]

[2017-12-14 22:14] ghik commented on #5
Hi @emilypi,

Thanks for the reproduction. You should have put the `addCompilerPlugin(...)` line in `build.sbt`, not `project/plugins.sbt` because `project/plugins.sbt` is for **sbt plugins**, not for **compiler plugins**.

The way you've configured it, you've added the compiler plugin to the compilation of the *build itself*. If you also added `silencer-lib` as a library dependency in `project/pl

[2017-12-14 23:43] ghik commented on #5
Version 0.6 is released which prints a warning about misconfiguration instead of crashing.

[2017-12-15 00:57] emilypi commented on #5
Oh wow, I can't believe i missed that in the build. You're the man

[2017-12-15 08:44] ghik commented on #5
Yep, this probably was the case for @ArturSoler too. I think we can consider this resolved.

[2017-12-15 08:44] #5 closed

[2018-02-28 14:58] CalumMcCall opened #6 "Support for projects using gradle scala plugin"
I'm using the [Gradle Scala Plugin](https://github.com/saturday06/gradle-android-scala-plugin). What would be the easiest way to using silencer in such a project? I've had a look at the docs for both projects and I don't see an obvious way. Is migrating to SBT the only way?

[2018-02-28 18:19] ghik commented on #6
Hello, I'm on holidays and I can't check how it's done exactly in Gradle Scala plugin but it should be easy - silencer is a Scala compiler plugin so you just need to find out how to configure compiler plugins in Gradle.

Even if Gradle Scala plugin doesn't support compiler plugins natively, adding a compiler plugin should be as easy as adding a command line option to scalac.

So either way, please

[2018-03-02 12:38] CalumMcCall commented on #6
Thanks for getting back to me so quickly. That's really useful info, I wasn't sure if compiler plugins had to be packaged for a particular build tool -- good to know they aren't. I'll have a look at the docs.

[2018-03-02 12:38] #6 closed

[2018-04-20 21:56] fommil opened #7 "suppressing the warning but not the error"
In this code https://github.com/scalaz/ioeffect/blob/6f57538969e38f62f942a05d0b7734483629dc62/src/main/scala/scalaz/ioeffect/Void.scala#L34-L35

we are able to suppress this warning

[code]

but when `scalacOptions in Compile += "-Xfatal-warnings"` is added, we get

[code]

[2018-04-20 22:29] fommil commented on #7
this is scala 2.12.4... we can't upgrade to 2.12.5 because of compiler plugin incompatibilities.

[2018-04-21 09:30] ghik commented on #7
Can't reproduce this with a synthetic test, which means it must be related to SBT and the way it modifies the default `scalac` reporter. I need to dig more into this.

[2018-04-21 10:35] ghik commented on #7
OK, I think I nailed it.

There is a clash between `silencer` and `semanticdb` compiler plugin. Both have their own error/warning reporter which wraps the original reporter. They should totally be able to wrap each other and work together just fine but it's important to ensure that the `silencer` reporter wraps the `semanticdb` reporter and not the other way. This means that `silencer` plugin must

[2018-04-21 14:02] fommil commented on #7
@olafurpg @xeno-by FYI...

[2018-04-21 17:04] olafurpg commented on #7
there are similar conflicts with clippy, I'm not sure what's going on because semanticdb forwards all messages to the underlying reporter so silencer should get messages even if semanticdb is enabled last.

[2018-04-21 21:02] ghik commented on #7
@olafurpg `semanticdb` reporter might properly forward all the messages to its underlying reporter but it still maintains its own error/warning *count*. This means its warning count will also include warnings suppressed by silencer and when the compiler asks it ["are there warnings?"](https://github.com/scala/scala/blob/b784d65a172a9264a7f3301a093aec86b5395227/src/compiler/scala/tools/nsc/Reportin

[2018-04-21 21:08] fommil commented on #7
I think it would be good if all plugins tried to be good citizens to the best of their ability, with silencer at the end of the list as the nuclear option.

[2018-04-21 21:10] olafurpg commented on #7
@ghik aah, good catch! I've opened https://github.com/scalameta/scalameta/issues/1505 to track this, I suspect synchronizing info/warn/error count should be a simple fix.

I think it would actually be great to have silenced messages in SemanticDB since those can be useful for tooling. I've always wanted a mode to store in SemanticDB "Unused import" warnings without reporting them in the console si

[2018-04-21 21:36] fommil commented on #7
thanks to you both!

[2018-06-14 23:30] kevinmu opened #12 "Plugin doesn't work within macro quasiquote"
To illustrate the issue I'm running into, I have a simple example:

[code]

In a separate project I call the macro as follows:

[code]

In this example, I expect to silence the `Unused import` warning generated by importing `scala.math.sqrt` and not using it. However, when I compile my project, I still get an `Unused import` warning. Please let me know if I can provide any more details. Thanks!

[2018-06-15 08:44] ghik commented on #12
Hello, thanks for the report.
What is the Scala version you're using?

[2018-06-15 09:22] kevinmu commented on #12
Hey, I'm using `Scala 2.11.12`, both for the macro and for the project that is using the macro.

[2018-06-20 20:10] kevinmu commented on #12
@ghik apologies for the ping, just wondering if there is an update on this issue? thanks!

[2018-06-22 09:13] ghik commented on #12
Hello @kevinmu, I'm on vacation this week so I couldn't pick it up, but I will take care of this next week.

[2018-06-22 19:36] kevinmu commented on #12
Thanks man, enjoy your vacation!

[2018-06-25 12:04] ghik commented on #12
I'm afraid I'll have to declare this wontfix.

In Scala 2.11, macro generated code does not have proper source positions assigned and the plugin cannot tell where the warning is coming from. Additionally, in Scala 2.12 this is no longer an issue because macro-generated code is not linted anyway (https://github.com/scala/scala/pull/5876).

The workaround is to move the `@silent` annotation outside

[2018-06-25 12:04] #12 closed

[2018-06-26 00:15] kevinmu commented on #12
Ohh ok, I'll try upgrading to Scala 2.12 then. Thanks again for looking into this!

[2018-11-05 07:56] avdv opened #17 "Compilation does not finish"
Hi.

My `build.sbt`:
[code]
I am using SBT 1.2.6, Scala 2.12.7.

When running `Test/compile` the compilation just does not finish:
![shot-2018-11-05_085547](https://user-images.githubusercontent.com/3471749/47985008-a3c5b100-e0d8-11e8-81fd-9bb8b41339a9.png)

[2018-11-05 08:02] avdv commented on #17
Oh, and I did not use and \@silent annotations just yet.

[2018-11-05 08:50] ghik commented on #17
Hi @avdv, can you provide a reproduction test case? There seems to be something weird in the structure of the code being compiled which makes the silencer plugin fall into infinite loop when searching for `@silent` annotations. For example, are there any macros used?

[2018-11-28 17:37] mihaisoloi opened #19 "Global filter ignore rule by file name"
For now the global filters ignore by error message patterns

`scalacOptions += "-P:silencer:globalFilters=[semi-colon separated message patterns]"`

it would be great if we could ignore by file name patterns as well.

This way we could handle issues where the compiler is used to generate some classes. An issue you can't use the `silencer` for is this:
https://github.com/playframework/playframework

[2018-12-03 10:47] ghik commented on #19
Fixed in 1.3.0

[2018-12-03 10:47] #19 closed

[2018-12-19 00:38] iaco86 opened #21 "Compiling with gradle 4.10.2 and turning off deprecation warning throws NPE"
When I turn off the deprecation warnings in my project (that admittedly has a fairly complex structure), knowing it has deprecated usages, I get the following NPE when running the plugin with the `pathFilters` parameter set.
Everything works just fine if I enable the deprecation option or remove the `pathFilters` parameter
My understanding is that the `file` val in `SuppressingReporter#info0` is r

[2018-12-19 10:59] ghik commented on #21
Thanks for the report. I've just released version 1.3.1 which doesn't rely on `java.io.File`, please check if it fixes your problem.

[2018-12-19 18:30] iaco86 commented on #21
Hey @ghik, thanks for following up!
This indeed solves the problem, thank you so much!
Closing the issue.

[2018-12-19 18:30] #21 closed

[2019-03-02 14:14] manuzhang opened #22 "Fail to silent with `sbt unidoc`"
I've tried to silent warnings like `private default argument in object GroupByOp is never used`. It works in `sbt compile` but fails with `sbt unidoc` (https://github.com/sbt/sbt-unidoc)

silencer version: 1.3.1
unidoc version: 0.4.2

[2019-03-06 16:16] ghik commented on #22
I could not reproduce this on my own project which uses both silencer and unidoc. This is most likely a build setup issue within your project - `silencer-plugin` is likely not added to compiler options used by the `unidoc` task. Please provide a small reproduction if you want me to investigate more.

[2019-03-06 22:25] manuzhang commented on #22
Indeed, thanks

[2019-03-06 22:25] #22 closed

[2019-03-26 18:10] ashleymercer opened #23 "Do not require silencer-lib on classpath"
Firstly, just wanted to say thanks for this plugin! I found it through [this bug report in Play](https://github.com/playframework/playframework/issues/7382).

When using the plugin as described there, I don't need the `@silent` annotation, since I'm only excluding files based on paths rather than with the annotations - so it's a bit annoying (and ironic :P) that the plugin generates the following

[2019-03-26 21:28] ghik commented on #23
Right. This warning was introduced when it was only possible to suppress with annotations. I've changed it so that it's emitted only when `globalFilters` and `pathFilters` are empty. I'll do the 1.3.2 release tomorrow.

[2019-03-27 12:27] ghik commented on #23
1.3.2 is released.

[2019-03-27 12:27] #23 closed

[2019-03-27 13:39] ashleymercer commented on #23
Awesome! Thanks for the quick response :)

[2019-03-29 18:51] benwaffle opened #24 "NullPointerException"
[code]

[2019-03-29 18:52] benwaffle commented on #24
Using silencer 1.3.0

[2019-03-29 23:20] ghik commented on #24
This is probably the same issue as #21 - please upgrade to newest version (1.3.2) and check if the problem disappears.

[2019-04-05 08:44] johanandren opened #25 "Release for Scala 2.13.0-RC1"
Scala 2.13.0-RC1 got released yesterday!

[2019-04-06 15:32] SethTisue commented on #25
and ScalaTest 3.0.8-RC2 is available

[2019-04-07 22:59] #24 closed

[2019-04-07 23:35] ghik commented on #25
Released 1.3.3

[2019-04-07 23:35] #25 closed

[2019-04-08 08:40] johanandren commented on #25
Thank you @ghik !

[2019-05-22 15:22] ashleymercer commented on #23
I've just upgraded to 1.3.3 and I'm still seeing the same issue - would you be able to retest on your side please?

[2019-05-23 08:04] ghik commented on #23
I've tested this on a minimal project and it seems to work as intended. Without any options the warning is emitted but when I enable either `messageFilters` or `pathFilters`, the warning disappears. Perhaps some of your subprojects lack these options or have the plugin unnecessarily enabled in the first place (maybe the root project in sbt?).

This warning was originally introduced to avoid build

[2019-05-23 13:43] ashleymercer commented on #23
Ahh of course! This is my mistake: I had the compiler plugin enabled on all my subprojects (which all share the same basic configuration) but of course only enabled the filters on some subprojects (e.g. Play modules). You're quite right - it absolutely makes sense to still emit the warning in the "vanilla" case.

Thanks (again) for being so responsive :)

[2019-05-23 18:05] Daenyth opened #28 "Compilation should fail when `@silent` does not suppress anything"
Currently it seems like `@silent` can be added anywhere, even if it's not needed. This is particularly bothersome when it's applied to classes; a code change could fix the initial warning that's being ignored, but leave `@silent` in place, opening up accidental regression on further code changes.

[2019-05-23 21:59] ghik commented on #28
That's an interesting idea. I don't think we can make what you propose the default behavior - it could break existing projects. However, we might hide it behind a flag.

[2019-05-23 22:13] SethTisue commented on #28
breaking existing projects seems okay to me here. the existing projects are likely to want to remove those stale annotations

[2019-05-24 09:01] ghik commented on #28
@SethTisue what is the last compiler phase that can emit warnings?
Checking whether `@silent` has actually silenced something must happen after that phase.

[2019-05-24 23:03] SethTisue commented on #28
even the `jvm` phase can emit warnings. (I don't call it the "last" phase because there's also `terminal`)

[2019-05-28 13:58] ghik commented on #28
IMO, another reason to **not** enable this checking by default is that it may be problematic in cross-compiled projects where e.g. Scala 2.12 emits a warning but Scala 2.11 doesn't.

[2019-05-28 15:09] ghik commented on #28
Fixed in 1.4.0

[2019-05-28 15:09] #28 closed

[2019-05-31 12:32] kamilkloch opened #29 "False positive with "-P:silencer:checkUnused" flag and default parameters"
`-P:silencer:checkUnused` flag  enabled.
The following code
[code]
compiles with a deprecation warning `object DeprecatedBImpl in object A is deprecated`. Adding `@silent` flag
[code]
causes the following compilation error: `this @silent annotation does not suppress any warnings`.

[2019-05-31 14:18] ghik commented on #29
Fixed in 1.4.1, it will be available as soon as Maven Central catches up.

[2019-05-31 14:18] #29 closed

[2019-05-31 20:49] ghik commented on #17
@avdv I'm closing this for inactivity and lack of reproduction. Feel free to reopen if you still experience this.

[2019-05-31 20:49] #17 closed

[2019-06-18 08:44] SethTisue opened #30 "support suppression of warning on `import`"
typically the warning would be a deprecation warning

imports can't have annotations, so it would have to be via some other mechanism:
* a special comment?
* a setting where you specify what deprecated things you want to be able to import warning-free?

(opening the issue partly as documentation that there isn't any support currently)

[2019-06-26 13:31] 2m commented on #30
I have bumped into this when migrating some code that is using `.mapValues` from 2.12 to 2.13. Such code shows a warning with 2.13 and suggests to change to `.view.mapValues`. However for that one to compile with 2.12 an `import scala.collection.compat._` is needed. Which is unused in 2.13 and thus shows a warning. :)

[2019-06-26 13:40] 2m commented on #30
I was able to use the warning message matching for that:
[code]

[2019-07-03 17:55] SethTisue commented on #30
@ghik should this be closed, then?

[2019-07-03 20:12] ghik commented on #30
@SethTisue why? It's as unsolved as it was in the beginning so it still serves its original "partly documentation" purpose, right?

[2019-07-03 20:33] SethTisue commented on #30
I wasn't aware when I opened the ticket that `globalFilters` was applicable

[2019-07-03 21:04] ghik commented on #30
Yeah, but its global so it can't be used to silent each import independently.

[2019-07-10 08:37] lrytz opened #31 "The compiler plugin should be fully cross-versioned"
Unlike scala-library.jar, the scala compiler is not binary compatible between minor releases. Therefore, compiler plugins should in principle be released with full cross versioning, and a new release is needed for every minor Scala release. See https://github.com/scalamacros/paradise/blob/2.12.8/build.sbt for example, https://search.maven.org/search?q=g:org.scalamacros.

Similar: https://github.co

[2019-07-16 16:24] fdietze opened #32 "support supression of warnings on annotations"
I have this piece of code:

[code]

`@JSGlobal` is expecting a string literal. But the compiler raises the warning: `possible missing interpolator`. I was not able to suppress it using `@silent`.

[2019-07-31 10:23] ghik commented on #32
Ok, I fixed the primary problem and in principle this warning could now be silenced like this:
[code]
but unfortunately ScalaJS compiler doesn't like it because `"$crisp": @silent` is not a string literal for it. Maybe it's worth opening an issue in ScalaJS.

[2019-07-31 10:34] ghik commented on #32
Here's a workaround you can employ:
[code]

[2019-08-07 09:27] ghik commented on #32
Ok, I'm closing this as the primary problem in silencer has been fixed and released in 1.4.2.

[2019-08-07 09:27] #32 closed

[2019-08-07 11:41] ghik commented on #31
Since 1.4.3 the plugin is fully cross versioned.

[2019-08-07 11:41] #31 closed

[2019-08-28 22:06] zakpatterson commented on #32
I ran into a similar issue today @ghik:

[code]

[Source of react annotation](https://github.com/shadaj/slinky/blob/master/core/src/main/scala/slinky/core/annotations/react.scala)

If this looks like an issue to you, I'd be happy to work on a PR, although annotations and macros are my least understood part of scala. If you can point me to a range of lines though I'd love to work on it.

[2019-08-29 07:19] ghik commented on #32
@zakpatterson It doesn't work because the suppression range in this case is the class itself, without its own annotation. Sure, this probably can be fixed by making `@silent` also apply to "neighboring" annotations that come after it. File an issue if you want.

In the meantime, please also check if this works: `@(react@silent)`

[2019-08-29 20:36] zakpatterson commented on #32
Thanks for that @ghik , I gave that a try, but the `@react` macro annotation  generates a companion object for `App` in my example, which doesn't get generated, or is not accessible, given your suggested annotation.

I can open a new issue, or we can just broaden the scope of this #32. It seems very similar.

[2019-09-12 09:17] kamilkloch opened #34 "Scala 2.12.10 is there :)"
Awaiting the silencer release :) Thanks!

[2019-09-12 12:28] #34 closed, assigned to nobody

[2019-09-18 17:43] denisgarci opened #35 "Release for 2.13.1"
Hi, 2.13.1 has been released! Waiting for silencer release :)

[2019-09-21 09:59] tomasherman commented on #35
+1 ;) please and thank you :)

[2019-09-24 14:26] mihaisoloi opened #37 "No artifact published under `silencer-lib_2.12` and `silencer-lib_2.13` for 1.4.3"
There are artifacts published for individual versions of `silencer` for 2.13.0 and 2.12.10 but that requires adding them like this in SBT:

[code]
whereas if they would be published under the correct artifactId we could use the `%%` notation

This was fine for `1.4.2` but not so for `1.4.3`. Example:
https://mvnrepository.com/artifact/com.github.ghik/silencer-lib_2.13/1.4.2
https://mvnrepository.c

[2019-09-30 09:33] raboof commented on #37
For the `compilerPlugin`, this is actually intended, since the compiler API is not binary compatible across compiler releases. It can be written a little nicer:

[code]

For `silencer-lib` I guess it's debatable, but perhaps neat to keep it consistent?

[2019-09-30 09:36] ghik commented on #37
Yes, as explained in #31 artifacts must use full Scala version. As @raboof mentioned, `silencer-lib` technically could be exempt from that but IMO it would be ugly having to declare `silencer-lib` dependency differently from `silencer-plugin` and it would provide no value.

[2019-09-30 10:47] sideeffffect opened #38 "Use sbt-ci-release to fix broken releasing"
consider using [`sbt-ci-release`](https://github.com/olafurpg/sbt-ci-release) to fix broken release once and for all

[2019-09-30 12:14] ghik commented on #35
Released 1.4.4

[2019-09-30 12:14] #35 closed

[2019-09-30 18:32] vamsikt opened #39 "Usage of `silencer:globalFilters` in Maven projects."
How can we use `silencer:globalFilters` in maven projects?

```-P:silencer:globalFilters=<semicolon separated message regexes>```

I am trying to pass the silencer flag option using `scala-maven-plugin`
[code]

[2019-09-30 18:48] ghik commented on #39
I haven't used `scala-maven-plugin`. Can you explain what doesn't work?

[2019-09-30 19:20] mihaisoloi commented on #37
makes sense, thank you for the explanation

[2019-09-30 19:33] vamsikt commented on #39
@ghik I got a compilation error [scala-maven-plugin](https://github.com/davidB/scala-maven-plugin)
`bad option: -P:silencer:globalFilters=Unused import`.

also used in conjunction with [addScalacArgs](http://davidb.github.io/scala-maven-plugin/cc-mojo.html#addScalacArgs) but got same error.
`          <addScalacArgs>-P:silencer:checkUnused=Unused import</addScalacArgs>
`

[2019-09-30 19:36] SethTisue commented on #39
perhaps scala-maven-plugin has a problem with spaces in arguments, rather than there being a problem with silencer specifically?

[2019-09-30 19:39] vamsikt commented on #39
@SethTisue got the same error when used `checkUnused`option.

` <addScalacArgs>-P:silencer:checkUnused</addScalacArgs>
`
Error:
`bad option: -P:silencer:checkUnused`

[2019-09-30 19:41] SethTisue commented on #39
okay, then it looks to me like a symptom of the silencer plugin not being enabled properly. if silencer isn't operating at all, then scalac will reject any `-P:silencer:...` flag

do you have any evidence that you have silencer working properly to begin with, _before_ attempting to customize its behavior with `-P:silencer:...`?

[2019-09-30 19:48] vamsikt commented on #39
Did not get you what you meant by

I added the silencer plugin dependencies to the maven `pom.xml`.

[2019-09-30 19:53] SethTisue commented on #39
but did you do it correctly? is silencer working with its default settings? that's what we need to determine, in order to know whether there's something specific to `globalFilters` here or not. (I suspect there isn't.)

[2019-09-30 19:54] vamsikt commented on #39
Yes, I can import silencer API's and use annotations in my project.
`  @silent def someMethod() = {  }
`

[2019-09-30 19:59] SethTisue commented on #39
That doesn't prove that the compiler plugin is actually operating. It merely proves that you have it on the classpath.

Do you have any evidence that the plugin is actually operating?

[2019-09-30 20:01] SethTisue commented on #39
Note that this repo's README includes the following Gradle snippet:

[code]

have you done anything comparable in your Maven build?

[2019-09-30 20:04] vamsikt commented on #39
No,I'll check that.

[2019-09-30 21:14] jozic commented on #39
this worked for me (Scala 2.12.10)

[code]

though I failed to find a way to specify some particular imported class to be ignored

[2019-09-30 21:19] SethTisue commented on #39
ah, `<compilerPlugin>`, that must handle the `-Xplugin` thing for you :+1:

[2019-09-30 21:27] vamsikt commented on #39
Yes, that solves that issue.
Thank you @jozic @SethTisue.
Perhaps it is better to add these instructions to the `README`.

[2019-09-30 21:33] #39 closed

[2019-11-14 02:00] solarmosaic-kflorence opened #40 "[error] bad option: -P:silencer:checkUnused in Compile / doc"
Just wanted to note that adding this flag to `scalacOptions` caused an error when trying to generate docs (`sbt doc`). To fix, I have removed this flag from `Compile / doc` scope in `build.sbt` like so:

[code]

Although perhaps the flag could also only be applied to the `Compile / compile` scope:

[code]

[2020-01-06 15:07] Taig commented on #30
Unfortunately this suppressed **all** warnings from files with an `import scala.collection.compat._` for me.

[2020-01-07 08:40] ghik commented on #30
@Taig `silencer` has a test for that situation and everything looks good. Can you file a separate issue for that and provide a reproduction?

[2020-01-07 12:47] Taig commented on #30
@ghik I prepared a reproducer and checked out the project to take a deeper look and possibly submit a fix. I'm happy to share the reproduction repo and raise a new issue but I have a couple assumptions that I'd like to clarify beforehand:

- The `globalFilters` syntax shared in this issue (`"-P:silencer:globalFilters=[import scala.collection.compat._]"`) appears to be wrong. From what I understand

[2020-01-07 15:17] ghik opened #42 "Silence warnings based on line content"
This would be particularly useful in order to silence "unused import" warnings (#30) based on what's being imported, e.g. with regex-based compiler option like:

`-P:silencer:lineContentFilters=import scala\.collection\.compat\._`

[2020-01-07 15:18] ghik commented on #30
@Taig thanks a lot for your insight, it indeed looks like @2m accidentally silenced everything.

I think the solution would be to create a separate option to silence warnings based on line content.
I've created #42 for that.

[2020-01-07 18:04] seglo commented on #40
I ran into the same issue using another silencer parameter (`pathFilter`).

[2020-01-08 10:00] ghik commented on #40
Seems like `sbt` does not enable compiler plugins when generating documentation.
It _should_ be easy to do that manually but currently I don't know exactly how to do it. Here's a SO question about that: https://stackoverflow.com/questions/59625041/how-to-enable-compiler-plugin-in-scaladoc

[2020-01-08 18:39] eed3si9n commented on #40
@ghik

Is this true? I just called `show utilLogging/Compile/doc/scalacOptions` on the project that uses silencer and it include `-Xplugin`.

[code]

[2020-01-08 18:58] eed3si9n commented on #40
And here's wtih `Compile / scalacOptions ++= Seq("-P:silencer:checkUnused")`

[code]

[2020-01-09 09:08] ghik commented on #40
Thanks @eed3si9n, that's interesting. Then it seems that silencer was somehow not properly enabled for `doc` in projects of @solarmosaic-kflorence and @seglo - can you please share your `build.sbt` or an example project?

[2020-01-09 14:47] seglo commented on #40
@ghik I project I'm working with is https://github.com/akka/alpakka.  The solution @eed3si9n proposed by omitting the `intask` component when defining the scope on `scalacOptions` seems to work, but I had already merged my workaround.

Before the workaround (https://github.com/akka/alpakka/pull/2077) the build would fail during our snapshot publishing step, on the `doc` task.

[code]

[2020-01-09 18:50] solarmosaic-kflorence commented on #40
I believe my `build.sbt` conforms exactly to how the plugin is documented in the `readme.md`:

[code]

So is another fix to use `Compile / scalacOptions += "-P:silencer:checkUnused"` instead? If so perhaps it should also be documented that way.

[2020-01-28 11:31] steinybot opened #43 "Silencer plugin suppresses compilation errors when scalafix semantic db is enabled"
I had recently enabled the silencer sbt plugin and then started noticing really strange behaviour where I knew I had compilation errors but the `sbt compile` task would succeed. `sbt test` would also succeed but not actually run any tests.

It turns out that there is some sort of incompatibility between Silencer, Scalafix SemanticDB and Scala 2.13.1.

`build.sbt`:
[code]

`src/main/scala/Main.scal

[2020-01-28 12:32] ghik commented on #43
Thanks for the report and reproduction. Without looking into details right now, this may be caused by the same problem as https://github.com/ghik/silencer/issues/7 which is ultimately a problem in the `semanticdb` compiler plugin: https://github.com/scalameta/scalameta/issues/1505

[2020-02-03 23:20] benwaffle commented on #43
@ghik that does not fix the bug for me

[2020-02-14 13:48] tjarvstrand commented on #42
This would be great! We get a lot of false positives for unused import when using implicits

[2020-02-15 20:50] davesmith00000 commented on #43
We were having this problem over here, I didn't spot this open issue until just now:
https://github.com/scalameta/metals/issues/1409

[2020-02-17 09:17] ghik commented on #43
This is most likely still the fault of `scalameta` plugin. The [workraround](https://github.com/ghik/silencer/issues/7#issuecomment-383284150) probably does not work for Scala 2.13.1 because reporters have been refactored in scalac by @lrytz (https://github.com/scala/scala/pull/8338). `semanticdb` plugin needs to be updated to this new implementation.

[2020-02-17 11:30] ghik commented on #42
Fixed in 1.5.0

[2020-02-17 11:30] #42 closed

[2020-02-17 11:42] tjarvstrand commented on #42
Sweet!

[2020-02-18 12:14] ghik commented on #43
This is most likely going to be fixed by https://github.com/scalameta/scalameta/pull/1992

[2020-02-18 12:17] ghik commented on #30
#42 is fixed and IMO this is the best solution for suppressing unused import warnings.

[2020-02-18 12:17] #30 closed

[2020-02-20 04:37] som-snytt commented on #42
@tjarvstrand There should be zero false positives in recent Scala versions. If you're using macros that require imports but don't emit code that uses them, that's a different kettle of fish.

[2020-02-20 06:42] tjarvstrand commented on #42
We mostly get them in code related to pureconfig's automatic derivation which I think uses macros so maybe the problem is in there somewhere

[2020-02-20 06:45] som-snytt commented on #42
@tjarvstrand thanks for the feedback.

[2020-02-20 17:19] Marcus-Rosti opened #44 "Didn't release 1.5.0 to silencer-X_2.13"
release to silencer-X_2.13.1 but not silencer-X_2.13

[2020-02-20 18:30] ghik commented on #44
Silencer is fully cross versioned - it must be separately built for every minor version of Scala, so there is no version for `2.13`. Please see the readme on how to set it up in your buildfile.

[2020-02-20 18:30] #44 closed

[2020-02-20 20:29] igrocki opened #45 "Extremely slow compilation when silencer plugin enabled"
Next lines of code compiles at least 25 seconds when silencer plugin enabled and just 1 seconds with disabled plugin
[code]
where `modify` - is macro function from [tapir](https://github.com/softwaremill/tapir) library.

Repo with simple reproducer: https://github.com/igrocki/slow-silencer-tapir

I found ugly workaround: breaking method chain into two or more chains like:

[code]

[2020-02-20 20:59] SethTisue commented on #45
very nice catch!! 👏 thank you for isolating and reporting

[2020-02-20 21:15] SethTisue commented on #45
fwiw, https://github.com/scala/scala/pull/8373 doesn't seem to have this problem (tested with 2.13.2-bin-59cf05f-SNAPSHOT)

[2020-02-21 11:02] ghik commented on #45
This is caused by tapir's macros which seem to blow up exponentially. Silencer looks for `@silent` annotations in both macro expandees and macro expansions. In the reproduction provided by @igrocki (huge thanks!) silencer has to traverse 1659690482(!) trees. But when I disabled looking for `@silent` annotation in macro expansions, it drastically went down to just 569 trees and compilation time dro

[2020-02-21 11:36] ghik commented on #45
Ok, I've decided to go on and ignore macro expansions by default. I've also introduced an option to bring back the old behaviour (`-P:silencer:searchMacroExpansions`).
These changes are available in freshly released 1.6.0

[2020-02-21 11:36] #45 closed

[2020-02-21 16:15] SethTisue commented on #45
I wonder if tapir's maintainers know about that.

[2020-02-27 12:58] adamw commented on #45
@SethTisue yes :) https://github.com/softwaremill/tapir/issues/455

[2020-03-03 21:03] lihaoyi-databricks opened #46 "Support Java @SuppressWarnings annotation?"
More a feature request than a bug, but could we make Silencer also support `@SuppressWarnings`? It comes built in with the JDK, doesn't need an import, and has a slightly more meaningful name than just `@silent`

[2020-03-04 13:12] ghik commented on #46
I agree with [Lukas' comment](https://github.com/scala/scala/pull/8373#issuecomment-594458849) on this. Let's see what solution will be chosen in the compiler and then I might backport it to silencer.

[2020-03-11 16:55] rockywarren-vertex commented on #43
This is now merged. Does anything in this project need to update to take advantage of the fix?

[2020-03-11 16:58] ghik commented on #43
@rockywarren-vertex nothing that I am aware of. Bumping semanticdb plugin's version should be enough. If not, more debugging ahead...

[2020-03-19 18:16] nilskp opened #48 "v1.6.0 has issues"
Sorry, I don't have much information, but my setup VSCode + Metals + Gradle stops working when using 1.6.0.

Reverting to 1.5.0 works.

[2020-03-19 18:30] SethTisue commented on #48
is there an error message?

[2020-03-19 19:02] nilskp commented on #48
No, and I can't find anything on the logs either.

[2020-03-19 19:04] SethTisue commented on #48
likely duplicate of #43 / https://github.com/scalameta/metals/issues/1482

[2020-03-19 22:48] ghik commented on #48
@nilskp which Scala version are you on?

[2020-03-19 22:52] nilskp commented on #48
I tried both 2.12.10 and 2.12.11, same result.

[2020-03-26 01:57] timcharper commented on #43
I have this issue when using scala 2.13.1, scalafix 0.9.11 and silencer 1.6.0.

Updating to scalafix 0.9.12 fixes the problem for me.

[2020-03-28 15:33] hepin1989 opened #49 "dotty support"
It's required by any project using silencer and try to support Dotty.

[2020-03-28 17:34] ghik commented on #49
Dotty is a completely different compiler and silencer in its current implementation is nowhere near being reusable for it. I'm not sure it's even possible and it probably doesn't make any sense. Scala 2.13.2 already has native support for warning suppression and I can't imagine this would be missing in Scala 3.

[2020-03-28 17:34] #49 closed

[2020-04-22 23:35] SethTisue opened #50 "support Scala 2.13.2's `@nowarn` annotation?"
[scala-collection-compat 2.1.6](https://github.com/scala/scala-collection-compat/releases/tag/v2.1.6) provides a no-op `@nowarn` on 2.11 and 2.12, for cross-built projects

silencer could recognize it

[2020-04-22 23:44] lihaoyi-databricks commented on #46
Superseded by https://github.com/ghik/silencer/issues/50

[2020-04-22 23:44] #46 closed

[2020-04-24 12:24] #50 closed

[2020-05-01 09:49] ghik opened #53 "Release for Scala 2.13.1"
See #52

[2020-06-04 22:06] FFdhorkin opened #54 "Install instructions are not universal"
The docs say to add this to `build.sbt`:
[code]

This didn't work for me. I kept getting this:

It turns out my issue was the `% Provided` in there. Remove that, and everything works. I don't know exactly what part of my build configuration is the issue, but that solved it.

I'm suspect my issue was related to this image: ![SBT configuration graph](https://www.scala-sbt.org/1.x/docs/files/sbt-conf

[2020-07-01 09:08] ghik commented on #53
Scala 2.13.3 and its silencer build are now out so build for 2.13.1 should no longer be needed.

[2020-07-01 09:08] #53 closed

[2020-07-01 09:11] ghik commented on #54
I think `% Compile` is the same thing as no specifier at all. `Provided` was used because silencer is a compile-time only dependency. It's weird that it wasn't on _compile_ classpath - `Provided` dependencies should definitely be there.

[2020-07-23 07:11] ohze opened #56 "NullPointerException at SilencerPlugin's FindSuppressions.addSuppression"
When compile zio on scala 2.13.3 using silencer 1.7.0:
<details>

[code]
</details>

Inspect
[code]
Error when compiling `zio.examples.macros.AccessibleMacroExample`:
[code]
Note, `AccessibleMacroExample.foo` is auto generated by:
[code]

[2020-07-23 07:21] ohze commented on #56
https://github.com/ghik/silencer/blob/fe701d47330fbe73672a8c19c9759a828ee19e4d/silencer-plugin/src/main/scala/com/github/ghik/silencer/SilencerPlugin.scala#L154-L162

Maybe fix by:
[code]

[2020-07-23 08:11] ohze commented on #56
Ah. This issue can be reproduced with:
[code]

[2020-07-23 09:32] #56 closed

[2020-07-23 09:34] ghik commented on #56
1.7.1 is on the way.

[2020-08-11 11:51] jrudolph opened #59 "Can CrossBuilding full for silencer-lib be avoided?"
Since silencer-lib is not provided for all minor Scala versions, matching Scala version and silencer-lib version can be quite a hassle in CI environments where the Scala library can be overwritten from the outside.

Is there a good reason for the weird publishing (i.e. only for the library, for the compiler plugin it is expected)?

[2020-08-11 11:57] ghik commented on #59
There's no need to fully-cross-build `silencer-lib` but I don't understand what would be the benefit of that if `silencer-plugin` still has to be cross built like that. What's the point of using `silencer-lib` without `silencer-plugin`?

[2020-08-11 12:03] jrudolph commented on #59
Ah right, that's a good point, so you might need different versions of silencer anyway if you want to support a wider set of Scala versions. I guess then there's nothing to see here, sorry for the noise...

[2020-08-11 12:03] #59 closed

[2020-12-31 21:19] coreywoodfield opened #60 "Is it possible to limit a globalFilter based on a pathFilter?"
I'm interested in silencing a certain class of warnings, but only in certain directories. Is it currently possible to do this?

[2021-01-05 10:33] ghik commented on #60
No, unfortunately silencer can't do this. This may be possible with `-Wconf` option available in Scala 2.13.

[2021-01-13 02:07] solarmosaic-kflorence commented on #54
I have also noticed this issue, especially when running tests.

[2021-01-14 20:08] JD557 opened #61 "Release for 2.12.13"
Can you please release silencer for 2.12.13?

I know the new version includes @nowarn, but this plugin is still helpful for cross-compilation with 2.11

[2021-01-15 19:59] sideeffffect opened #62 "Scalafix and Silencer crash with NoClassDefFoundError"
When running Scalafix check with Silencer plugin enabled, it crashes with
[code]
Examples:
 * https://app.circleci.com/pipelines/github/zio/zio-prelude/1176/workflows/d79a7fb1-d6f2-41e1-b9b6-acc49f74601d/jobs/8445
 * https://app.circleci.com/pipelines/github/zio/zio/9745/workflows/4c60f1de-8aac-4f3d-8a79-fc0ca5d8baf7/jobs/99851

This is triggered by [upgrade of `sbt-scalafix` to 0.9.25](https://gi

[2021-01-15 20:42] SethTisue commented on #62
what Scala version? looks like you might need to be on 2.13.2 or higher (or 2.12.13, if on 2.12.x)

[2021-01-15 22:44] sideeffffect commented on #62
2.12.12, let's see if 2.12.13 will help https://github.com/zio/zio-prelude/pull/498

[2021-01-15 23:52] SethTisue commented on #62
You may need to wait for https://github.com/ghik/silencer/issues/61 to be resolved.

[2021-01-16 00:20] ghik commented on #61
Republished 1.7.1 for Scala 2.12.13

[2021-01-16 00:20] #61 closed

[2021-01-16 12:12] sideeffffect commented on #62
Upgrading to Scala 2.12.13 and `sbt-scalafix` `0.9.25` in lock step helped.
The build now fails because of `mdoc`, but that's for another story.
https://github.com/scalameta/mdoc/issues/446

[2021-01-16 12:12] #62 closed

[2021-01-27 18:05] sideeffffect opened #63 "Using scala-collection-compat together with silencer-plugin is broken"
When the `scala-collection-compat` library is used together with the `silencer-plugin` compiler plugin, you get errors like this:
[code]

Workaround is to drop `silencer-plugin`, but that might not be the desired solution.

It's worth to note that `scala-collection-compat` defines its own `nowarn` annotation: https://github.com/scala/scala-collection-compat/blob/master/compat/src/main/scala-2.11_2

[2021-01-28 10:03] ghik commented on #63
What Scala version is this?

[2021-01-28 11:42] sideeffffect commented on #63
2.11.12, I think. When we upgraded `izumi-reflect` Scala Native 0.4.0, we also had to upgrade to `scala-collection-compat` to `2.4.0`.
We had to remove silencer in order to make the build pass: https://github.com/zio/izumi-reflect/pull/121

Trying to add it back is still causing these issues: https://github.com/zio/izumi-reflect/pull/128

[2021-02-01 07:47] rdesgroppes commented on #63
I faced the very same problem when trying to bump `scala-collection-compat` version from `2.3.2` up to `2.4.0`, then to `2.4.1`. It seems related to this recently introduced change, `make @nowarn a ClassfileAnnotation, as in 2.12.13`:
https://github.com/scala/scala-collection-compat/commit/86475b4cb540f81723d6b09753355aff75c149e3#diff-6d5efe0f0fcfb13692e6abe75577291796099973c93b40ffe8e8bed7db0ea5c

[2021-02-01 10:26] #63 closed

[2021-02-01 11:27] sideeffffect commented on #63
@ghik are you planing on making a release soon?

[2021-02-01 11:49] ghik commented on #63
@sideeffffect there should be 1.7.2 soon, see https://github.com/ghik/silencer/actions

[2021-02-01 13:00] sideeffffect commented on #63
For the record, it solves the issue we had in izumi-reflect https://github.com/zio/izumi-reflect/pull/128

[2021-02-02 16:59] rdesgroppes commented on #63
I see the plugin got [published for Scala 2.12.13](https://mvnrepository.com/artifact/com.github.ghik/silencer-plugin), but not for other versions. @ghik, is that intentional?

[2021-02-02 17:14] ghik commented on #63
@rdesgroppes I publish only for the newest minor scala version. I know it's annoying but otherwise it would be a cross building nightmare which I want to avoid.

[2021-02-02 17:20] ghik commented on #63
@rdesgroppes mvnrepository.org seems to be out of sync, [search.maven.org](https://search.maven.org/artifact/com.github.ghik/silencer-lib_2.13.4/1.7.2/jar) shows other versions

[2021-02-02 17:52] rdesgroppes commented on #63
Thanks, @ghik, I indeed see more Scala versions there: https://search.maven.org/search?q=g:com.github.ghik%20AND%20a:silencer-plugin_*%20AND%20v:1.7.2
... unfortunately even recent versions of `sbt` (1.4.7) still use the Scala 2.12.12 compiler and therefore doen't find the corresponding `compilerPlugin("com.github.ghik" % "silencer-plugin" % "1.7.2" cross CrossVersion.full)`...

[2021-02-02 18:09] ghik commented on #63
@rdesgroppes yes, I don't cover all minor Scala versions because that would be a cross-building nightmare considering all the minor changes that might be introduced into the compiler API with every minor Scala version. In this case, 2.12.13 broke compatibility of error reporting API with 2.12.12 so I decided to drop 2.12.12 and assumed users can bump their Scala version.

[2021-02-03 08:10] rdesgroppes commented on #63
Fair enough. But, since:
1. as of today (Feb 3, 2021), there's no release of `sbt` based on a Scala 2.12.13 runtime,
2. `silencer-plugin` 1.7.1 is incompatible with `scala-collection-compat` 2.4.0+.

... should a further note be added to https://github.com/ghik/silencer/blob/master/README.md#silencer-scala-compiler-plugin-for-warning-suppression so that `sbt` users have to stick to `silencer-plugi

[2021-02-03 09:52] ghik commented on #63
@rdesgroppes Since you're bound by Scala version used by sbt, I'm assuming you are developing an sbt plugin? I'm not familiar with sbt plugin development but in principle you should be able to force 2.12.13 to be used in your plugin. This should work because minor Scala versions are supposed to be both backwards and forward compatible.

[2021-07-09 00:24] SethTisue opened #67 "GitHub UI still shows 1.7.0 as latest version"
even though there are newer tags at https://github.com/ghik/silencer/tags

[2021-07-09 09:26] ghik commented on #67
I turned these tags into proper releases.

[2021-07-09 09:26] #67 closed

[2022-06-08 04:04] SethTisue opened #72 "Publish for Scala 2.12.16, please?"
as per https://contributors.scala-lang.org/t/scala-2-12-16-release-planning/5692/8

[2022-06-08 13:17] #72 closed

[2022-09-14 21:16] SethTisue opened #74 "Publish for Scala 2.12.17, please?"
2.12.17 JARs are on Maven Central, as per https://contributors.scala-lang.org/t/scala-2-12-17-release-planning/5805

[2022-09-15 05:59] LuciferYang commented on #74
Give a pr for 2.12.17: https://github.com/ghik/silencer/pull/75

[2022-09-15 08:02] ghik commented on #74
1.7.10 released

[2022-09-15 08:02] #74 closed

[2022-09-19 20:22] SethTisue opened #76 "Publish for Scala 2.13.9, please?"
2.13.9 JARs are on Maven Central, as per https://contributors.scala-lang.org/t/scala-2-13-9-release-planning/5693/16

[2022-09-19 20:56] ghik commented on #76
Done

[2022-09-19 20:56] #76 closed

[2022-10-08 18:50] SethTisue opened #77 "Please publish for Scala 2.13.10"
Scala 2.13.10 is now on Maven Central; we plan to announce it on Thu Oct 13.

[2022-10-08 23:54] ghik commented on #77
I'm on vacation until 25 Oct. I won't be able to commit but I can merge a PR and release a version (subject to my internet access).

[2022-10-10 15:01] sideeffffect commented on #77
There you go https://github.com/ghik/silencer/pull/78 :wink:
Merge at your pleasure

[2022-10-17 16:38] sideeffffect commented on #77
any chance you could do that @ghik ? Sorry to be a bother, I hope you're having wonderful vacation nonetheless :wink:

[2022-10-21 16:13] #77 closed